{% extends "!layout.html" %}
  {% block menu %}
    {{ super() }}
      <p class="caption"><span class="caption-text">Links</span></p>
      <ul>
        <li class="toctree-l1"><a class="reference external" href="https://gitlab.com/{{ gitlab_user }}/{{ gitlab_repo }}">GitLab repository <span style="font-family: FontAwesome; font-size: smaller; margin-left: 3px;"></span></a></li>
        <li class="toctree-l1"><a class="reference external" href="https://gitlab.com/{{ gitlab_user }}/{{ gitlab_repo }}/issues">Issue tracker <span style="font-family: FontAwesome; font-size: smaller; margin-left: 3px;"></span></a></li>
      </ul>
{% endblock %}

  {% block footer %} {{ super() }}

  <style>
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
      background: #229022;
    }
    /* Sidebar */
    .wy-nav-side {
      background: #006400;
    }
  </style>
{% endblock %}
